/* Table of Contents













*/



/* first header division*/

.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto auto;
  margin-top: 50px;
}

.circular--portrait img {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto auto;
}

/* second section of page division */


#aboutme {}

}

#toolbox {
  margin-top: 40px;
}
#toolbox  li{
  list-style: none;

}

/*Project1*/



#project2 img {
  position: relative;
  width: 100%;
}


/* contact me css*/
